{% extends 'base.html.twig' %}

{% block title %}Edit Lesmodules{% endblock %}

{% block body %}
    <h1>Edit Lesmodules</h1>

    {{ include('lesmodules/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_lesmodules_index') }}">back to list</a>

    {{ include('lesmodules/_delete_form.html.twig') }}
{% endblock %}
