<form method="post" action="{{ path('app_leschapitres_delete', {'id': leschapitre.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ leschapitre.id) }}">
    <button class="btn">Delete</button>
</form>
